<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your message</title>
    <style>
       div{
        height: 200px;
        width: 200px;
        border:2px solid blue;
        border-radius: 5px;
       }
    </style>
</head>
<body>
    
    

<h3> This message was send by <%=chat.from%> to <%=chat.to%> </h3>

<form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
    <h3>This message was sent by <%= chat.from %> to <%= chat.to %></h3>
    
    <textarea name="message" cols="10" rows="10"><%= chat.message %></textarea>
    
    <button type="submit">Update</button>
</form>

    
</body>
</html>